@import "../../styles/global.scss";
.hero {
  background-color: $boss_background;
  background-image: url(../../images/bear_bg.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment:fixed;
  color: white;
  height: 400px;
  .trusted_row {
    padding-right: 0px !important;
    margin-right: 0px !important;
    .trusted{
      .trustedLogo{
        margin-top: 5rem;
      }
    }
  }
}
