@import "../../styles/global.scss";
.small_menu {
  background-color: $boss_background;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white !important;
  .product_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .product_image{
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
    }
    .product_text{
      display: block;
    }
  }
  .learMore{
    color: $boss_yellow;
  }
  .welcome_menu{
    text-align: center;
  }
  .privacy_leader{
    text-align: center;
    font-size: 1.4rem;
  }
}
