@import "../../styles/global.scss";
.small_menu {
  display: flex;
  justify-content: center;
  .product_description {
    display: flex;
    flex-direction: column;
  }
  .learMore{
    color: $boss_yellow;
  }
}
