@import "../styles/global.scss";
.header {
  background-color: $boss_black_header;
  .trustBar {
    .trustLink, .trustLink:visited, .trustLink:hover, .navbar-light, a, a:hover, a:visited{
      color: $boss_yellow !important;
    }
   a{
      margin: 0 1rem;
    }
  }
}
