@import "../styles/global.scss";
html,
body {
  background-color: $boss_background;
  color: white;
  .main_container {
    min-height: 400px;
  }
  .container-fluid {
    padding: 0 !important;
  }
}
