@import "../styles/global.scss";
html,
body {
  background-color: $boss_background;
  color: white;
  .main_container {
    background-image: url(../images/bear_bg.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    min-height: 1200px;
  }
  .container-fluid {
    padding: 0 !important;
  }
}
