@import "../../styles/global.scss";
.partners{
  background-color: $boss_background;
  margin-top: 1rem;
  background-image: url(../../images/bear_bg2.jpg);
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  margin-bottom: 15rem;
  .content{
    border: 1px solid $boss_yellow_dark;
    background-color: black;
    padding: 1rem;
    margin-top: 550px;
    .title{
      color: $boss_yellow;
      font-size: 1rem;
    }
    .partner_content{
      color: white;
      margin: 0.5rem 0;
      font-size: 2rem;
    }
    .button_bar{
      .partner_button{
        font-size: 1.2rem;
        background-color: #ffc107;
        color: black;
        font-weight: 400;
        border-radius: 0.25rem;
        padding: 0.5rem;
      }
    }
  }
  Modal, .modalWindow, .modal-dialog, .modal-body{
    color: black !important;
  }
}


